{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@commons": "./src/components/commons",
          "@screens": "./src/screens",
          "@etaui": "./src/etaui",
          "@utils": "./src/utils",
          "@functions": "./src/etaui/functions",
          "@graphql": "./src/graphql",
          "@assets": "./assets",
          "@context": "./src/context",
          "@icons": "./src/components/commons/Icons",
          "@redux": "./src/redux"
        }
      }
    ]
  ]
}
